<!-- Componente de Barra Lateral -->
<div class="mobile-menu-toggle">
    <i class="fas fa-bars"></i>
  </div>
  
  <nav id="nav">
    <ul class="main-nav">
      <li><a href="reservations.html" class="button primary">Reservar</a></li>
    </ul>
  </nav>
  
  <!-- Menú lateral oculto -->
  <div class="side-menu">
    <div class="side-menu-close">
      <i class="fas fa-times"></i>
    </div>
    <ul>
      <li><a href="../index.html">HOME</a></li>
      <li><a href="about.html">ABOUT</a></li>
      <li><a href="ar-menu.html">MENU</a></li>
      <li><a href="blog.html">BLOG</a></li>
      <li><a href="contact.html">CONTACTO</a></li>
    </ul>
  </div>